.gitignore
credentials.csv
*.csv
*.cfg
*.DS_STORE
*.mp4
.env
.env~
Data_pipeline_Apache_Airflow_on_AWSRedshift.ipynb

# excluding folders
/udacity_dend/*
/.vscode/*
/solutions/*
/__pycache__/*
/docker-airflow/*
*.pem
rootkey.csv
